goferd not found


Hi @JacobCallahan do you know what is the source of this error?

Thanks.

```bash
$ docker run -h another_docker -d -e "SATHOST=sat.com" -e "AK=BZ5125" jacobcallahan/content-host-d:latest


$ docker logs <container_name>

Adding satellite certificate sat.com/pub/katello-ca-consumer-latest.noarch.rpm
Retrieving sat.com/pub/katello-ca-consumer-latest.noarch.rpm
Preparing...                          ########################################
Updating / installing...
katello-ca-consumer-sat.com.########################################
Activation key BZ5125 found. Registering...
Validation failed: Name hostname can contain only lowercase letters, numbers, dashes and dots according to RFC921, RFC952 and RFC1123, Name hostname can contain only lowercase letters, numbers, dashes and dots according to RFC921, RFC952 and RFC1123
This system is not yet registered. Try 'subscription-manager register --help' for more information.
Loaded plugins: fastestmirror, ovl, product-id, search-disabled-repos,
              : subscription-manager
This system is not registered with Subscription Management. You can use subscription-manager to register.
Repodata is over 2 weeks old. Install yum-cron? Or run: yum makecache fast
Existing lock /var/run/yum.pid: another copy is running as pid 55.
Another app is currently holding the yum lock; waiting for it to exit...
  The other application is: yum
    Memory :  35 M RSS (332 MB VSZ)
    Started: Mon Oct 30 21:38:50 2017 - 00:20 ago
    State  : Sleeping, pid: 55
Another app is currently holding the yum lock; waiting for it to exit...
  The other application is: yum
    Memory :  35 M RSS (332 MB VSZ)
    Started: Mon Oct 30 21:38:50 2017 - 00:22 ago
    State  : Sleeping, pid: 55
Another app is currently holding the yum lock; waiting for it to exit...
  The other application is: yum
    Memory :  35 M RSS (332 MB VSZ)
    Started: Mon Oct 30 21:38:50 2017 - 00:24 ago
    State  : Sleeping, pid: 55
Another app is currently holding the yum lock; waiting for it to exit...
  The other application is: yum
    Memory :  35 M RSS (332 MB VSZ)
    Started: Mon Oct 30 21:38:50 2017 - 00:26 ago
    State  : Sleeping, pid: 55
Another app is currently holding the yum lock; waiting for it to exit...
  The other application is: yum
    Memory :  35 M RSS (1.4 GB VSZ)
    Started: Mon Oct 30 21:38:50 2017 - 00:28 ago
    State  : Sleeping, pid: 55
Another app is currently holding the yum lock; waiting for it to exit...
  The other application is: yum
    Memory :  35 M RSS (1.3 GB VSZ)
    Started: Mon Oct 30 21:38:50 2017 - 00:30 ago
    State  : Sleeping, pid: 55
Another app is currently holding the yum lock; waiting for it to exit...
  The other application is: yum
    Memory :  35 M RSS (1.3 GB VSZ)
    Started: Mon Oct 30 21:38:50 2017 - 00:33 ago
    State  : Uninterruptible, pid: 55
Cleaning repos: base extras updates
Cleaning up everything
Cleaning up list of fastest mirrors
Loaded plugins: fastestmirror, ovl, product-id, search-disabled-repos,
              : subscription-manager
This system is not registered with Subscription Management. You can use subscription-manager to register.
Determining fastest mirrors
 * base: linorg.usp.br
 * extras: linorg.usp.br
 * updates: ftp.unicamp.br
repo id                             repo name                             status
base/7/x86_64                       CentOS-7 - Base                       9591
extras/7/x86_64                     CentOS-7 - Extras                      280
updates/7/x86_64                    CentOS-7 - Updates                    1052
repolist: 10923
Loaded plugins: fastestmirror, ovl, product-id, search-disabled-repos,
              : subscription-manager
This system is not registered with Subscription Management. You can use subscription-manager to register.
Loading mirror speeds from cached hostfile
 * base: linorg.usp.br
 * extras: linorg.usp.br
 * updates: ftp.unicamp.br
No package katello-agent available.
Error: Nothing to do
Preparing host for remote execution
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   436  100   436    0     0    145      0  0:00:03  0:00:02  0:00:01   145
Starting goferd in foreground.
/tmp/startup.sh: line 51: goferd: command not found
```

nm, I was informing invalid hostname 